.feed-preview-table > thead > tr > th {
  width: 38%;

  &:first-child:not(.feed-preview-table__date) {
    width: 62%;
  }

  &.feed-preview-table__date {
    width: 28%;
  }

  &.feed-preview-table__title {
    width: 72%;
  }
}
