.ContentBox {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  overflow: auto;
  background: white;
  margin-left: 0.5rem;
}
.ContentBox:first-of-type {
  padding-top: 0.5rem;
}
.Header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  font-weight: normal;
  justify-content: space-between;
  margin: 0 0 0.2rem;
  font-size: 1rem;
  font-weight: normal;
}
.Link:hover {
  text-decoration: none;
}
.Paragraph {
  flex: 0 0 auto;
  line-height: 0.9rem;
  margin: 0 0 0.6rem;
}
