textarea, input, button { outline: none; }

.letter {
  height: 20px;
  width: 30px;
  line-height: 20px;
  text-align: center;
  border-radius: 20px;
  font-size: 0.9em;
  color: white;
}

.b1 {background-color: seagreen;}
.b2 {background-color: yellowgreen;}
.b3 {background-color: gold;}
.b4 {background-color: goldenrod;}
.b5 {background-color: red;}
.b6 {background-color: darkred;}

.duration {
  font-weight: bold;
  font-size: 16pt;
}

.c1 {color: seagreen;}
.c2 {color: yellowgreen;}
.c3 {color: gold;}
.c4 {color: goldenrod;}
.c5 {color: red;}

.List {
  width: 100%;
  border: 1px solid #DDD;
  margin: 2px 0 0 3px;
}
.listContainer {
    white-space: nowrap;
}
.listItem {
    height: 100%;
    white-space: nowrap;
    vertical-align: top;
    display: inline-block;
}
.oddRow {
  background-color: #fff;
}
.evenRow {
  background-color: #eee;
}

.w1{ width: 100px; }
.w2{ width: 200px; }
.w3{ width: 45px;  }
.w4{ width: 2000px;}
.w5{ width: 300px; }

.noRows {
  font-size: 16pt;
  width: 300px;
  color: #bdbdbd;
  width: 100%;
  margin-top: 250px;
  text-align: center;
}

.buttonStyle {
  font-size: 10pt;
  font-weight: bold;
  white-space: nowrap;
  height: 35px;
  background-color: cadetblue;
  border-radius: 5px;
  color: whitesmoke;
  border: 1px solid grey;
  margin-right: 10px;
}
.buttonStyle:hover {
  background-color: darkcyan;
  color: whitesmoke;
}
.buttonStyle:focus {
  background-color: cadetblue;
  border: 1px solid black;
  outline:0;
}
.buttonStyle:active {
  background-color: darkcyan;
  border: 1px solid black;
}

.numberOfRows{
  font-family: sans-serif;
  font-weight: bold!important;
  color: #444;
  font-size: 11pt;
  font-weight: 400;
  margin: 0px 20px 0px 20px;
}
.LabeledInput {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-width: 0;
  margin: 0 1px 1px 0;
}
.LabeledInput:last-of-type {
  margin-right: 0;
}
.Label {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.Input {
  outline: 0;
  appearance: none;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  padding: 1px 0;
}
.Input:focus {
  outline: 0;
}
.Input::placeholder {
  color: #e0e0e0;
}
.Input:disabled {
  opacity: .5;
}
.Label {
  margin-bottom: 1px;
}
.LabelDisabled {
  opacity: .5;
}
.InputRow {
  margin: 1px 0 5px 2px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.AutoSizerWrapper {
  flex: 1 1 auto;
  height: calc(100vh - 30px);
}
.objectID{
  color: grey;
  font-size: 5pt;
}
.highlightedText{
  font-size: bold;
  color: white;
  background-color: black;
}
.skippedText{
  font-size: bold;
  color: blue;
}
